@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('wall.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333333;
}

input[type="file"], textarea {
    display: block;
    margin: 10px auto 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    text-align: left;
}

#output p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    color: #333333;
}

#output p:nth-child(odd) {
    background-color: #e0e0e0;
}

/* Media Queries za različne velikosti zaslonov */
@media (min-width: 600px) {
    .container {
        padding: 40px;
    }

    h1 {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    textarea {
        height: 150px;
    }
}
